.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Estilos de la barra lateral */
.sidebar {
  width: 250px; /*Ancho de la barra lateral */
  background: #2c3e50;  /*Color de fondo (2c3e50)(4274ca)*/
  color: white; /*Color de texto */
  padding: 20px;  /*Espacio interno */
  display: flex;  /*Permite que los elementos se alineen en fila */
  flex-direction: column; /*Alinea los elementos de arriba hacía abajo */
  gap: 10px;/*Espacio entre elementos */
  overflow-y: auto; /*Permite desplazamiento si el contenido es muy grande */
  height: auto;/*Permite que el menú crezca si el contenido es muy grande */
  min-height: 100vh; /*Asegura que el menú tenga mínimo el alto de la pantalla */
}

/* Estilos del menú */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar li:hover {
  background: #34495e;
}

/* Submenú */
.submenu {
  padding-left: 15px;
  display: block;
}

.submenu li {
  padding: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin: 5px 0;
}

/* Botón de cierre de sesión */
.logout-button {
  margin-top: auto;
  padding: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #c0392b;
}

/* Contenido */
.content {
  flex: 1;
  padding: 20px;
  background: #ecf0f1;
  overflow-y: auto;
}
